<div class="main_playground_wrapper">
  <div class="playground_area">
    <div class="playground_header_croupie">
    </div>
    <div class="playground_table">
      <pg-playtable [table]="table"></pg-playtable>
    </div>
    <div class="playground_players_wrapper">
      <div class="playground_players_list" *ngFor="let player of playersList">
          <div class="playground_player_wrapper">
            <pg-player 
            [player]="player"
            ></pg-player>
        </div>
      </div>
    </div>
  </div>

</div>
