<div class="player_game_board">
  <div class="player_place">
    <div cdkDropList cdkDropListOrientation="horizontal" class="player_card_list"  (cdkDropListDropped)="drop($event)">
      <div class="player_card_item" *ngFor="let card of cards" cdkDrag>
        <pg-card [card]="card"></pg-card>
        <div class="card_placeholder" *cdkDragPlaceholder></div>
      </div>
    </div>
  </div>

  <div class="player_tile">
    <div class="player_tile_image">
      <img src="{{player.image}}" alt="{{player.name}}">
    </div>
    <div class="player_tile_info_block">
      <span class="player_tile_bank">{{player.bank | currency:'USD':'symbol-narrow'}}</span>
      <span class="player_tile_name">{{player.name}}</span>
    </div>
  </div>
</div>