.player_card_item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.card_placeholder {
    width: 15em;
    background: transparent;
    border: 3px solid transparent;
    border-radius: 5px;
    height: 20em;
    font-size: 5px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 2.5px;
}

.player_tile {
    font-size: 10px;
    width: 100%;
    background: rgba(255, 255, 2555, 0.6);
    position: relative;
    border: 2px solid #000;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.player_tile_image {
    width: 6em;
    height: 6em;
    display: block;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -2px;
    transform: translate(50%,0);
    border: 2px solid #000;
    overflow: hidden;
}

.player_place {
    width: 200%;
    text-align: center;
    transform: translateX(-25%);
}

.player_tile_image img {
    width: 100%;
    height: auto;
}

.player_tile_info_block {
    font-size: 1.4em;
    padding: 0.6em;
    font-family: sans-serif;
    font-weight: 600;
    height: 4.3em;
    padding-right: 3em;
    box-sizing: border-box;
}

.player_tile_bank {
    display: block;
    font-size: 1.5em;
    margin-bottom: 0.1em;
}

.player_tile_name {
    display: block;
    font-size: 1.1em;
}

.player_card_list {
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}

.player_game_board {
    width: 16em;
    font-size: 15px;
    margin-top: 5em;
    display: inline-block;
    text-align: center; 
}


.player_tile_timeline_wrapper {
    display: block;
    width: calc(100% + 4px);
    height: 10px;
    border: 2px solid #000000;
    position: absolute;
    bottom: 0;
    left: -2px;
    transform: translate(0, 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(150, 150, 150, 0.6);
}

.player_tile_timeline {
    position: absolute;
    height: 100%;
    border-right: 2px solid #000;
    left: 0;
    top: 0;
    background: #a0a0ff;
    transition-duration: 0.5s;
}